{{>nav}}
    <div>
        {{#if allUsers}}
            <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center fs-6">
            {{allUsers.id}}
            <span class="badge bg-secondary rounded-pill fs-5" style="min-width: 165px; margin: 5px 15px;">id</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{allUsers.title}}
            <span class="badge bg-secondary rounded-pill fs-5" style="min-width: 165px; margin: 5px 15px;">title</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{allUsers.email}}
            <span class="badge bg-secondary rounded-pill fs-5" style="min-width: 165px; margin: 5px 15px;">email</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{allUsers.age}}
            <span class="badge bg-secondary rounded-pill fs-5" style="min-width: 165px; margin: 5px 15px;">age</span>
        </li></ul>
    <div class="d-flex justify-content-center mt-5">
        <a href="/edit/{{allUsers.id}}" class="btn btn-warning mx-3 fs-5 mt-2" style="min-width: 85px;">Edit</a>
        <a href="/del/{{allUsers.id}}" class="btn btn-danger mx-3 fs-5 mt-2" style="min-width: 85px;">Delete</a>
    </div>
        </p>
        {{/if}}
    </div>
{{>footer}}